<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css">
    <script type="module" src="static/main.js"></script>
</head> 

<body>

    <div class="main_container">

        <div class="text_container">

            <div class="heading_container">
                CalStruct v0.1
                <div class="user_input_field">
                    <input id="calculate_button" type="submit" value="Calculate building" onclick="calculateCostAndLoads()">
                </div>
            </div>
            
            <div class="table_container">
                <table id="user_input">

                </table>
            </div>
            <div class="analysis_results">Press "Calculate building" to see analysis results.</div>
        </div>

        <div class="drawing_container">
            <div class="section_current_selection_container">
                <div class="section_drawing"></div>
                <div class="current_selection">Nothing selected.</div>
            </div>

            <div class="plan_drawing">Press on a floor in the section view to select a plan drawing.</div>
        </div>

    </div>

</body>

</html>