<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/index.css">
    <script type="module" src="static/main.js"></script>
</head> 

<body>

    <div class="main_container">

        <div class="text_container">

            <div class="heading_container">
                CalStruct v0.1
                <div class="user_input_field">
                    <input type="submit" value="Calculate building">
                </div>
            </div>
            
            <div class="table_container">
                <table>

                </table>
            </div>
            <div class="analysis_results">Analysis results</div>
        </div>

        <div class="drawing_container">
            <div class="section_current_selection_container">
                <div class="section_drawing"></div>
                <div class="current_selection">Current selection</div>
            </div>

            <div class="plan_drawing">Plan drawing</div>
        </div>

    </div>

</body>

</html>